<div class="container-div">
    <div class="body-div">
        <div class="container">
            <div class="card">
                <div class="card-body" *ngIf="obserVableData | async">
                    <div class="row">
                        <div class="col-3">
                            <img [src]="getImagePath()" class="img-fluid">
                        </div>
                        <div class="col-9">
                            <h3><i>{{user?.name}}</i></h3>
                            <p class="font-class"><i>{{user?.birthday}} - {{user?.deathday || 'PRESENT'}}</i></p>
                            <p><span *ngIf="user?.also_known_as.length > 0">Known as :</span><span *ngFor="let data of user?.also_known_as"> {{data}} </span></p>
                            <p class="biography-class">{{user?.biography}}</p>
                            <span *ngIf="user?.homepage">Website : <a [href]="user?.homepage" target="_blank">{{user?.homepage}}</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 

adult: false
also_known_as: (3) ["Richard A. Wolf", "Richard A. Wolf ", "Richard Wolf"]
biography: "From Wikipedia, the free encyclopedia.↵↵Richard Anthony "Dick" Wolf (born December 20, 1946) is an Americantelevision producer, specializing in crime dramas such as Miami Vice and the Law &amp; Order franchise. Throughout his career he has won several awards including an Emmy Award and a star on the Hollywood Walk of Fame.  Wolf has also authored three books. The first, Law &amp; Order: Crime Scenes is a nonfiction companion to the Law &amp; Order series.↵↵The Intercept and The Execution are the first volumes in a new thriller series with N.Y.P.D. special agent Jeremy Fisk."
birthday: "1946-12-20"
deathday: null
gender: 2
homepage: null
id: 117443
imdb_id: "nm0937725"
known_for_department: "Creator"
name: "Dick Wolf"
place_of_birth: "New York City - New York - USA"
popularity: 2.07
profile_path: null -->