<div class="card">
    <div class="card-header">
        <h3>Sign In</h3>
    </div>
    <div class="card-body">
        <form [formGroup]="logInForm" (ngSubmit)="login()">
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input type="email" class="input-bg" placeholder="Your Email ID" class="form-control" (input)="message=''" formControlName="email" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }">
                <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors?.required">*Email ID is required</div>
                    <div *ngIf="f.email.hasError('pattern')">*Email ID must be a valid email address</div>
                </div>
            </div>
            <div class="input-group form-group" style="margin-top:4vh">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                </div>
                <input type="password" class="input-bg" placeholder="Password" class="form-control" formControlName="password" (input)="message=''" [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }">
                <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors?.required">*Password is required</div>
                    <div *ngIf="f.password.errors?.minlength" class="invalid-feedback">
                        *Password must be at least 6 characters</div>
                </div>
            </div>
            <p style="color:red">{{message}}</p>
            <div class="form-group" style="margin-top:7vh">
                <input type="submit" value="Login" class="btn float-right login_btn" [disabled]="logInForm.invalid">
            </div>
        </form>
    </div>
</div>