.container-padding {
    padding-right: 25px !important;
    padding-left: 25px !important;
    .productListingWrap {
        padding: 1.5rem 0.8rem;
    }
}

.row-div {
    display: flex;
    flex-wrap: wrap;
}